pipeline/pl3_create_silver_tbls.json
{
	"name": "pl3_create_silver_tbls",
	"properties": {
		"description": "This pipeline first deletes all the listed file paths in the data lake silver path if they exist then it recreates the listed external tables which in turn recreates listed files in their subfolders within the silver path  ",
		"activities": [
			{
				"name": "ForEach Folder Path",
				"description": "For each of the listed 'folder_path' and 'usp_name' in the main 'folder_path_usp_name_array' variable we will perform a delete and procedure activity ",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('folder_path_usp_name_array')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure",
							"description": "Creates dataset for the listed names in the silver path and create externa tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Silver Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Delete Silver Files",
							"description": "Delete all the listed files from the silver path in the data lake",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_waco_silver_delete_activity",
									"type": "DatasetReference",
									"parameters": {
										"folder_path_param": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					{
						"folder_path": "silver/Individual",
						"usp_name": "silver.usp_silver_individual"
					},
					{
						"folder_path": "silver/FamilyMembership",
						"usp_name": "silver.usp_silver_family_membership"
					},
					{
						"folder_path": "silver/Family",
						"usp_name": "silver.usp_silver_family"
					}
				]
			}
		},
		"annotations": []
	}
}